.main {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  
}

.traffic_lights {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100px;
  border: 2px solid black;
  border-radius: 40px;
}

.red, .orang, .green {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
}

.btn_red {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  background-color: red;
  border-radius: 10px;
}

.btn_orang {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
}

.btn_green {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  background-color: green;
  border-radius: 10px;
}

.red_on{
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  background-color: red;
}

.orang_on{
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  background-color: orange;
}

.green_on{
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  background-color: green;
}










/* body {
  width: 900px;
  height: 700px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem; 
  margin: auto;
}

.main {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.white {
    border: 2px solid black;
    background-color: white;
}
.cell {
    width: 50px;
    height: 50px;
}
.table {
    width: 100px;
    height: 100px;
}
.button {
    margin: 10px;
     width:190px;
     height: 40px;
     margin-top: 1.2em;
     font-size: 1em;
     border: 1px solid grey;
     border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.selected {
    border: 2px solid black;
    background-color: blue;
}
.track {
    border: 2px solid black;
    background-color: orange;
} */
