div {
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.chess {
	display: table;
}
.chess-tr {
    display: table-row;
    
}
.chess-tr div {
    display: table-cell;
    
}		
 
.chess .chess-tr:nth-child(odd) div:nth-child(odd) {
	background: rgb(0, 0, 0);
}	
.chess .chess-tr:nth-child(even) div:nth-child(even) {
    background: rgb(0, 0, 0);
}