.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 550px;
    width: 550px;
    border-radius: 0px;
    background: burlywood;
}    

.a1 {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
    height: 200px;
    width: 450px;
}

.a11 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
    
}

.a12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
}

.a13 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
}


.b2 {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
    height: 100px;
    width: 450px;
}

.b21 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
}

.b22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
}


.c3 {
    display: flex;
    justify-content:center ;
    margin: 25px 50px;
    height: 200px;
    width: 450px;
}

.c31 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 50px;
    background: cornflowerblue;
    color: cornsilk;
    border-radius: 5px;
}