@keyframes seconds {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
 }

.main {
  margin: 50px 100px;
  width: 200px;
  height: 300px;
  position: relative;
}

.clock {
  position: absolute;
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(2,0,36,1) 50%);
  margin: -225px 118px;
  z-index: 99;
  animation: seconds  60s infinite steps(60);
}
