@keyframes dws-bounce {
  0% { bottom: 100%; }
  40% { bottom: 0; width: 50px; height: 50px;}
  50% { bottom: 0; width: 55px; height: 20px;}
  60% { bottom: 0; width: 50px; height: 50px;}
  100% { bottom: 100%;}
 }

@keyframes dws-moveleft {
  0% { left: 0%; }
  10% { bottom: 60px; }
  20% {bottom: 100%;}
  30% { bottom: 80px; }
  40% {bottom: 100%;}
  50% { bottom: 110px; }
  60% {bottom: 100%;}
  70% { bottom: 140px; }
  80% {bottom: 100%;}
  90% { bottom: 170px; }
  100% { left: 100%; }
}

@keyframes dws-moveright {
  0% { left: 0%; }
  10% { bottom: 160px; }
  20% {bottom: 100%;}
  30% { bottom: 140px; }
  40% {bottom: 100%;}
  50% { bottom: 110px; }
  60% {bottom: 100%;}
  70% { bottom: 80px; }
  80% {bottom: 100%;}
  90% { bottom: 50px; }
  100% { left: 100%; }
}


@keyframes height11 {
  0% {height: 50px;}
  90% {height: 50px;}
  100% {height: 170px;}
}

@keyframes height12 {
  0% {height: 170px;}
  90% {height: 170px;}
  110% {height: 50px;}
  
}

@keyframes height21 {
  0% {height: 80px;}
  90% {height: 80px;}
  100% {height: 140px;}
}

@keyframes height22 {
  0% {height: 140px;}
  90% {height: 140px;}
  110% {height: 80px;}
  
}

@keyframes height41 {
  0% {height: 140px;}
  90% {height: 140px;}
  100% {height: 80px;}
}

@keyframes height42 {
  0% {height: 80px;}
  90% {height: 80px;}
  110% {height: 140px;}
  
}

@keyframes height51 {
  0% {height: 170px;}
  90% {height: 170px;}
  100% {height: 50px;}
}

@keyframes height52 {
  0% {height: 50px;}
  90% {height: 50px;}
  110% {height: 170px;}
  
}

.main {
  position: relative;
  margin: 100px 100px;
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.ball {
  position: absolute;
  margin: 0px 17px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: rgb(245,234,11);
  background: radial-gradient(circle, rgba(245,234,11,1) 0%, rgba(255,0,52,1) 100%);
  animation:  dws-bounce 2s linear infinite ,
              dws-moveleft 10s linear infinite alternate,
              dws-moveright 10s linear 10s alternate-reverse;;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  width: 820px;
  margin: 0px 20px;
}

.block1 {
  background: rgb(0,129,255);
  background: radial-gradient(circle, rgba(0,129,255,1) 0%, rgba(0,44,255,1) 100%);
  border-radius: 2px;
  height: 50px;
  width: 80px;
  background-color: blue;
  animation:  height11 10s linear infinite alternate,
              height12 10s linear 10s alternate;
}

.block2 {
  background: rgb(0,129,255);
  background: radial-gradient(circle, rgba(0,129,255,1) 0%, rgba(0,44,255,1) 100%);
  border-radius: 2px;
  height: 80px;
  width: 80px;
  background-color: blue;
  animation:  height21 10s linear infinite alternate,
              height22 10s linear 10s alternate;
}

.block3 {
  background: rgb(0,129,255);
  background: radial-gradient(circle, rgba(0,129,255,1) 0%, rgba(0,44,255,1) 100%);
  border-radius: 2px;
  height: 110px;
  width: 80px;
  background-color: blue;

}

.block4 {
  background: rgb(0,129,255);
  background: radial-gradient(circle, rgba(0,129,255,1) 0%, rgba(0,44,255,1) 100%);
  border-radius: 2px;
  height: 140px;
  width: 80px;
  background-color: blue;
  animation:  height41 10s linear infinite alternate,
              height42 10s linear 10s alternate;
}

.block5 {
  background: rgb(0,129,255);
  background: radial-gradient(circle, rgba(0,129,255,1) 0%, rgba(0,44,255,1) 100%);
  border-radius: 2px;
  height: 170px;
  width: 80px;
  background-color: blue;
  animation:  height51 10s linear infinite alternate,
              height52 10s linear 10s alternate;
}